.footer {
padding-bottom: 30px;
	padding-top: 20px;
	background-color: #eee	
}

.background-img {
	background-image: url(../bg.png);
	background-color: #b84d45
}

.banner-name, .header {
	color: #fff
}

.banner-name {
	font-size: 60px;
}

.header {
	font-size: 35px
}

h1, h2, h3, h4, h5 {
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
}

.description {
	font-size: 20px;
}

sub {
	font-size: 11px
}

.equation {
	font-size: 20px;
}

#error-msg {
	font-size: 20px;
}
.jumbotron{margin-bottom:0;}